<!-- <form name="search-bar" action="/connections/search" method= "POST"> -->

<%= form_tag('/connections/search') do -%>

  <input type="text" name="search[search_term]"  placeholder="Search by Email">

  <input type="submit">

<% end %>
<!-- </form> -->

<% if flash[:no_result] %>
  <%= flash[:no_result] %>
<% end %>
