<h3>Connections</h3>

<%= render 'search_bar' %>

<% if @connections.empty? %>
  <p>You have no connections yet. You can start by looking through <%= link_to "kinders", kinders_path %> to make connections and schedule playdates.<p>
<% else %>
  <ul>
    <% @connections.each do |user| %>
      <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
  </ul>
<% end %>
