<div class="playdate-listing">
  <p><%= link_to playdate.title, user_playdate_path(current_user.id, playdate.id)%> | <%= playdate.date.strftime("%B, %dth") %>  <%= playdate.time.strftime("%H:%m%P") %></p>
</div>
