

<div class="row">
    <div class="card  teal lighten-3">
      <div class="card-content black-text">
        <span class="card-title center ">Schedule New Playdate<span>
        <%= render 'form' %>
      </div>
    </div>
</div>

