<h5 class="center teal-text text-lighten-3">New Playdate<h5>
  <div class="row">
    <div class="col s12">
      <div class="card-panel white">
        <div class="possible-invitees center">

          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
