
<div class="row">
  <div class="col s12 m6">
    <div class="card grey lighten-2">
      <div class="card-content black-text">
        <%= render partial: 'playdate_details', locals: {playdate: @playdate} %>
      </div>
    </div>
  </div>
</div>

