
<div class="row playdate-details">
  <div class="col s12">
    <div class="card white">
      <div class="card-image">
        <iframe width="100%" height="170" frameborder="0" style="border:0"
        src="<%= @google_api_search %>" allowfullscreen></iframe>
      </div>
      <div class="card-content black-text">
        <% if flash[:confirm] %>
          <p class="center-align orange-text"><%= flash[:confirm] %></p>
        <% end %>
        <% if flash[:calendar_event] %>
          <p class="center-align orange-text"><%= flash[:calendar_event] %></p>
        <% end %>
        <%= render partial: 'playdate_details', locals: {playdate: @playdate} %>
      </div>
    </div>
  </div>
</div>
