
<div class="row playdate-details">
  <div class="col s12">
    <div class="card white">
      <div class="card-content black-text">
        <% if flash[:confirm] %>
          <p class="center-align orange-text"><%= flash[:confirm] %></p>
        <% end %>
        <%= render partial: 'playdate_details', locals: {playdate: @playdate} %>
      </div>
    </div>
  </div>
</div>
