<%= form_for :kinders, method: 'post', url: {action: 'filter'} do |f| %>
Gender:
  <select name='gender'>
    <option value=""></option>
    <option value='Male'>Male</option>
    <option value='Female'>Female</option>
    <option value='Non-Binary'>Non-Binary</option>
  </select>


Vaccinated?:
  <select name='vaccinate'>
    <option value=''></option>
    <option value='true'>Yes</option>
    <option value='false'>No</option>
  </select>
  <%= f.submit 'Filter Results' %>
<% end %>
