<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if flash[:zipcode] %>
  <%= flash[:zipcode] %>
<% end %>

<p> You have reached the end of possible kinders within your preferences. <%= link_to "Click here", reset_kinders_path %> to see kinders that you swiped left.</p>
