<div class="row col-md-8 col-md-offset-2" id="chat-title">
  <h1>Messages</h1>
</div>

<div class="row col-md-8 col-md-offset-2" id="chats">
  <% if !current_user.friends.empty? %>
    <ul>
      <% current_user.friends.each do |friend| %>
        <li>
          <%= link_to friend.username, user_chats_path(current_user, :friend => friend.id), method: :post %>
        </li>
      <% end %>
    </ul>
  <% else %>
   <p>Make some connections to start messaging!</p>
  <% end %>
</div>
