<div>
  <h5 class="teal-text text-lighten-3 center-align"><%= @friend.first_name.capitalize %></h5>
  <% if @chat.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

  <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>

<script>
  createMessageChannel();
  messageForm();
</script>
