<div class="row col-md-8 col-md-offset-2">
<div class="panel panel-default">
  <% if @chat.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @chat.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

  <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>

<script>
  createMessageChannel();
  var shiftDown = false;
  var chatForm = $("#new_message");
  var messageBox = chatForm.children("textarea");
  $(document).keypress(function (e) {
      if(e.keyCode == 13) {
          if(messageBox.is(":focus") && !shiftDown) {
              e.preventDefault(); // prevent another \n from being entered
              chatForm.submit();
              $(chatForm).trigger('reset')
          }
      }
  });

  $(document).keydown(function (e) {
      if(e.keyCode == 16) shiftDown = true;
  });

  $(document).keyup(function (e) {
      if(e.keyCode == 16) shiftDown = false;
  });
</script>
