/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#logo{
  text-align: center;
}


.profile-pic {
  border-radius: 60%;
}

.errors {
  color: red;
  font-size: 1.8em;
}
#zip {
  text-align: center;
margin: 10px 15%;
}

#white {
  font-size: 1.2em;
  color: black;
}

#survey_form {
  width: 550px !important;
 
}

.modal {
  width: 700px !important;
  overflow-x: hidden !important;
}

.filter {
  width: 600px;
  margin: auto;
}


/*@media (min-width: 990px){
  #survey_form {
    position: relative;
    margin: 10px;
    left: 25%;
  }
}
@media (min-width: 590px) {
  #survey_form {
    position: relative;
    left: 30%;
  }
}*/




